<div class="modal" tabindex="-1" role="dialog" id="dish-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><%= t(".edit") %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_for @dish, remote: true, method: :put do |f| %>
          <%= f.text_field :name, class: "custom-form", placeholder: t(".name") %>
          <%= f.submit t(".submit"), class: "btn btn-sm btn-info" %>
        <% end %>
      </div>
    </div>
  </div>
</div>